<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnny.meet_kotlin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <!--小米Android P之前刘海屏适配：横竖屏时可以使用耳朵区-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--华为Android P之前刘海屏适配-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--vivo,oppo异形屏手机的设置中都有控制使用和不使用刘海屏的开关，Android P之前代码层面没有控制使用不使用耳朵区的逻辑-->

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Style_Full_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.GuideActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>