<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.johnny.meet_kotlin">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <!--小米Android P之前刘海屏适配：横竖屏时可以使用耳朵区-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--华为Android P之前刘海屏适配-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--vivo,oppo异形屏手机的设置中都有控制使用和不使用刘海屏的开关，Android P之前代码层面没有控制使用不使用耳朵区的逻辑-->

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Style_Full_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GuideActivity"
            android:theme="@style/Style_Full_Screen" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Style_Full_Screen" />

        <activity android:name=".MainActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.johnny.meet_kotlin.BmobContentProvider"
            android:exported="false" />

        <service android:name=".test.TestService" />

        <activity android:name=".test.TestActivity"
            />
        <activity android:name=".test.FirstActivity" />
        <activity android:name=".test.SecondActivity"
            android:launchMode="singleInstance"/>
    </application>

</manifest>