<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.johnny.meet_kotlin">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="q">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <!--小米Android P之前刘海屏适配：横竖屏时可以使用耳朵区-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--华为Android P之前刘海屏适配-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--vivo,oppo异形屏手机的设置中都有控制使用和不使用刘海屏的开关，Android P之前代码层面没有控制使用不使用耳朵区的逻辑-->

        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="keyboard|orientation|fontScale"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GuideActivity"
            android:configChanges="keyboard|orientation|fontScale"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboard|orientation|fontScale"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|orientation|fontScale"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".activities.UploadBasicInfoActivity"
            android:configChanges="keyboard|orientation|fontScale" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.johnny.meet_kotlin.BmobContentProvider"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>